.playground {
  margin: 20px 0px;
}
.image-container {
}
.turn {
  margin: 20px 0px;
}

#restart {
  visibility: hidden;
}

.result {
  margin: 20px 0px;
}

#result {
  font-size: 20px;
  font-weight: bold;
}

#cscore,
#pscore {
  font-weight: bold;
}

.text1 {
  font-size: 25px;
}

.buttons {
  margin: 50px;
}
